.dt-m-video {
  width: 100%;

  &:not(:last-child) {
    @media (min-width: $desktop) {
      width: calc(100% - 368px);
    }
  }

  &-talk {
    padding: rem(24px) rem(24px);

    @media (min-width: $tablet) {
      padding: rem(24px) rem(48px);
    }

    @media (min-width: $desktop-hd) {
      padding: rem(48px) rem(72px);
    }

    &__header {
      margin-bottom: rem(16px);
      padding-bottom: rem(16px);
      border-bottom: rem(1px) solid rgba($white, .2);
    }

    &__speaker {
      margin: 0;
      margin-bottom: rem(8px);
      font-weight: 400;
      font-size: rem(16px);
      line-height: 1.2;

      a {
        text-decoration: none;
        color: rgba($white, .8);
      }
    }

    &__title {
      margin: 0;
      font-size: rem(24px);
      line-height: 1.2;
      font-weight: 600;
      
      @media (min-width: $desktop) {
        font-size: rem(32px);
      }
    }

    &__content {
      max-width: rem(720px);

      p {
        line-height: 1.5;
        opacity: .8;
      }
    }
  }
}