<aside class="dt-l-sidebar">
  <div class="dt-l-sidebar-nav">
    <button class="dt-l-sidebar-nav__toggle">
      <i class="material-icons">menu</i>
    </button>

    <a href="{{ site.url }}" class="dt-l-sidebar-nav__logo">
      <img src="/assets/img/logo.svg" alt="DevTalks">
    </a>
  </div>

  <nav class="dt-l-sidebar-menu">
    <a href="" class="dt-l-sidebar-menu__item">
      <i class="material-icons">home</i>
      <span>
        Início
      </span>
    </a>
    <a href="" class="dt-l-sidebar-menu__item">
      <i class="material-icons">whatshot</i>
      <span>
        Em alta
      </span>
    </a>
    <a href="" class="dt-l-sidebar-menu__item">
      <i class="material-icons">video_library</i>
      <span>
        Canais
      </span>
    </a>
  </nav>

  <nav class="dt-l-sidebar-menu">
    <h3 class="dt-l-sidebar-menu__title">Comunidade</h3>

    <a href="" class="dt-l-sidebar-menu__item">
      <i class="material-icons">supervisor_account</i>
      <span>
        Palestrantes
      </span>
    </a>
    <a href="" class="dt-l-sidebar-menu__item">
      <i class="material-icons">event_available</i>
      <span>
        Eventos
      </span>
    </a>
  </nav>
</aside>