.dt-m-channel {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-info {
    display: flex;
    align-items: center;

    &__img {
      display: block;
      width: rem(48px);
      height: rem(48px);
      border-radius: 50%;
      margin-right: rem(12px);
    }

    &__meta {
      font-size: rem(16px);
      line-height: 1.5;
      
      span {
        display: block;
        color: rgba($white, .8);
      }

      a {
        color: $white;
        text-decoration: underline;

        &:hover {
          color: $assertive;
        }
      }
    }
  }
}