<!DOCTYPE html>
<html lang="pt-br">
{% include partials/head.html %}
<body class="single">
  {% include partials/header.html %}
  {% include partials/sidebar.html class="hide" %}

  <main role="main" class="dt-l-main">
    <section class="dt-m-video">
      <div class="dt-m-video-player" id="player" data-plyr-provider="{{ page.video.provider }}" data-plyr-embed-id="{{ page.video.id }}"></div>

      <div class="dt-m-video-wrapper">
        <article class="dt-m-video-talk">
          <header class="dt-m-video-talk__header">
            <h2 class="dt-m-video-talk__speaker"><a href="/palestrante/{{ page.speaker | slugify }}">{{ page.speaker }}</a></h2>
            <h1 class="dt-m-video-talk__title">{{ page.title }}</h1>
          </header>

          {% include components/channel/info.html %}

          <div class="dt-m-video-talk__content">
            {{ content }}
          </div>
        </article>
      </div>
    </section>
    
    <section class="dt-l-section dt-m-related">
      <header class="dt-l-section-header">
        <h3 class="dt-l-section-header__title">Mais talks sobre <strong>{{ page.categories | first }}</strong></h3>
      </header>

      <ul>
        {% for talk in site.talks limit:6 %}
          {% unless talk.url == page.url %}
            <li>
              {% include components/cards/talk.html link=talk.url video=talk.video.id speaker=talk.speaker title=talk.title %}
            </li>
          {% endunless %}
        {% endfor %}
      </ul>
    </section>
  </main>

  <script src="/assets/js/main.js"></script>
  <script src="/assets/js/single.js"></script>
</body>
</html>