* {
  box-sizing: border-box;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: $font-family;
  font-weight: $font-weight;
  background-color: $dark;
  color: $white;
}

.hide {
  display: none !important;
}