.dt-l-header {
  display: flex;
  align-items: center;
  height: rem(80px);
  padding-left: 0;
  padding-right: rem(24px);
  background-color: $on-dark;
  border-bottom: rem(1px) solid rgba($white, .1);

  &-nav {
    display: flex;
    align-items: center;
    width: rem(256px);
    padding: 0 rem(24px);

    &__toggle {
      @extend .reset-button;
      font-size: rem(24px);
      color: $white;
    }

    &__logo {
      display: block;
      margin-left: rem(24px);
    }
  }

  .dt-m-search {
    display: none;
    margin-left: rem(48px);

    @media (min-width: 768px) {
      display: flex;
    }

    .dt-m-button {
      border-radius: 0 rem(4px) rem(4px) 0;
    }
  }

}