.dt-m-cards-talk {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: rem(320px);
  border-radius: rem(8px);
  overflow: hidden;
  background-color: $on-dark;
  text-decoration: none;
  color: $white;

  img {
    display: block;
    width: 100%;
    height: rem(180px);
    object-fit: cover;
  }

  &-content {
    padding: rem(16px);
  }

  &__speaker {
    display: block;
    margin-bottom: rem(4px);
    font-size: rem(14px);
    color: rgba($white, .5);
  }

  &__title {
    display: block;
    margin: 0;
    font-size: rem(16px);
    line-height: 1.2;
    font-weight: 600;
  }
}